* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#frame {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  padding-top: 3vh;
  margin: 0 auto;
  width: min(100vw, 1200px);
  padding-bottom: 10vh;
  min-height: 100vh;
  background-color: black;
  position: relative;
}

#banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: min(20vw, 150px);
  z-index: 0;
}

#home {
  padding-left: 5%;
  /* margin-left: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: min(5vw, 2rem);
  height: 100%;
}

#reel {
  width: 20%;
  height: min(20vw, 150px);
}

#reel img {
  width: 100%;
  height: min(15vw, 120px);
  object-fit: cover;
  /* border: 2px solid white; */
  box-shadow: rgba(246, 247, 248, 0.25) 0.3vw 0.7vh 24px;
}

#title {
  width: 55%;
  text-align: center;
  font-family: "Proza Libre", sans-serif;
  font-weight: 700;
  font-size: min(4vw, 4rem);
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  line-height: min(20vw, 150px);
  height: min(20vw, 150px);
  margin-bottom: min(3vh, 60px);
}

#queryFrame {
  margin: 0 auto;
  width: min(85vw, 800px);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#searchIMDB {
  margin-top: 5vh;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(5vw, 1.5rem);
  font-style: italic;
  margin-bottom: 5vh;
}

#searchBox input {
  width: min(90vw, 760px);
  height: max(3.5vh 15px);
  border-radius: 5rem;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: min(4vw, 2.2rem);
  color: rgb(131, 125, 125);
  padding-left: min(4vw, 30px);
  padding-bottom: 0.5vh;
}

#searchBox input:focus {
  outline: none !important;
}

#searchButton {
  margin-top: 5vh;
  color: white;
  width: min(25vw, 150px);
  height: max(3.5vh 15px);
  border-radius: 5rem;
  border: 2px solid white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(4vw, 2.2rem);
  text-align: center;
  padding-bottom: 0.5vh;
}

#searchButton:hover {
  background-color: rgb(58, 56, 56);
  cursor: pointer;
}

#recentViews {
  margin-top: 15vh;
  width: 100%;
  border-left: 3px solid white;
  padding-left: 2vh;
}

#recentViews span {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: min(2.5vw, 1.6rem);
}

#recentViewsUL {
  list-style-type: none;
}

#recentViewsUL li {
  width: 85%;
  /* border: 2px solid rgb(134, 30, 11); */
  border-radius: 0 1rem 1rem 0;
  padding-left: 6%;
  background-color: rgb(165, 150, 14);
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: min(3.5vw, 1.6rem);
  margin-bottom: 2vh;
  cursor: pointer;
  height: 3vh;
  line-height: 3vh;
}

#recentViewsUL li:nth-child(1) {
  margin-top: 2vh;
}

#ClearHistoryOuter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#clearHistory {
  margin-top: 7vh;
  width: 35%;
  border-radius: 1rem;
  border: 1px solid white;

  text-align: center;
  background-color: black;
  color: rgb(165, 150, 14);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(3.5vw, 1.6rem);
  margin-bottom: 2vh;
  cursor: pointer;
  height: 3vh;
  line-height: 2.5vh;
}

#searchResults {
  margin: 0.5vh auto;
  width: min(100vw, 1000px);
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(3.5vw, 2rem);
}

#searchResultsGrid {
  margin: 2vh auto;
  width: min(100vw, 1000px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(2vw, 1rem);
}

#searchResultsGrid > div {
  width: 28%;
  height: 35vh;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin: 1vh;
  padding: 1vh;
}

.searchResultsItem {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.searchResultsItem div {
  margin-bottom: 0.5vh;
}

.resultItemTitle {
  height: 12%;
}

.resultItemYear {
  height: 10%;
}

.resultImage {
  /* border: 1px solid white; */
  height: 80%;
  /* border-radius: 20px; */
  overflow: hidden;
}

.resultImage img {
  /* margin-top: 1vh; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

#movieData1 {
  margin: auto;
  width: min(85vw, 800px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#movieTitle {
  width: 80%;
  /* line-height: min(8vh, 120px); */
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: min(6vw, 2.5rem);
  color: white;
  background-color: black;
  overflow-wrap: break-word;
  /* height: min(8vh, 120px); */
}

#poster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5vh;
  width: min(100vw, 800px);
}

#posterImage {
  width: 80%;
  object-fit: contain;
}

#movieData2 {
  margin: auto;
  width: min(70vw, 560px);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#director,
#year,
#stars,
#plot {
  width: 100%;
  margin-top: 1.1vh;
  color: white;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(4vw, 1.5rem);
}

#director,
.movieActorsDiv {
  cursor: pointer;
}

#plot {
  margin-top: 3vh;
}

#plot p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(5vw, 1.5rem);
  font-style: italic;
}

#director p,
#year p,
#stars p {
  margin-bottom: 0.7vh;
}

#directorNames,
#yearDisplay,
#starsNames {
  margin-top: 0.5vh;
  margin: auto;
  width: min(70vw, 560px);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#directorNames div,
#yearDisplay div,
#starsNames div {
  background-color: rgb(7, 39, 7);
  color: white;
  margin-top: 1.5vh;
  margin-right: 2vh;
  padding-inline: min(2vw, 20px);
  padding-bottom: 0.3vh;
  border: 1px solid white;
  border-radius: 5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(4vw, 1.2rem);
}

#directorData1,
#actorData1 {
  margin-inline: auto;
  width: min(85vw, 800px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#directorName,
#actorName {
  width: 80%;
  /* line-height: min(8vh, 120px); */
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: min(6vw, 2.5rem);
  color: white;
  background-color: black;
  overflow-wrap: break-word;
  /* height: min(8vh, 120px); */
}

#directorImageDiv,
#actorImageDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: .5vh; */
  padding-top: 2.5vh;
  width: min(100vw, 800px);
}

#directorImage,
#actorImage {
  width: 80%;
  object-fit: contain;
}

#directorSummary,
#actorSummary {
  width: 80%;
  margin-top: 3.5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(5vw, 1.5rem);
  font-style: italic;
  color: white;
}

#directorMovies,
#actorMovies {
  width: 80%;
}

#directorMovies p,
#actorMovies p {
  margin-top: 3.5vh;
  width: 80%;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(5vw, 1.5rem);
  /* font-style: italic; */
  text-align: left;
}

#directorSearchResultsGrid,
#actorSearchResultsGrid {
  margin-inline: auto;
  padding-top: 2vh;
  width: min(100vw, 1000px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: min(2vw, 1rem);
}

#directorSearchResultsGrid > div,
#actorSearchResultsGrid > div {
  width: 28%;
  height: 30vh;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin: 1vh;
  padding: 1vh;
}

.directorMoviesItem,
.actorMoviesItem {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.directorMoviesItem div,
.actorMoviesItem div {
  margin-bottom: 0.5vh;
}

.directorMoviesItemTitle,
.actorMoviesItemTitle {
  height: 12%;
}

.directorMoviesItemYear,
.actorMoviesItemYear {
  height: 10%;
}

.directorMoviesImage,
.actorMoviesImage {
  /* border: 1px solid white; */
  height: 90%;
  /* border-radius: 20px; */
  overflow: hidden;
}

.directorMoviesImage img,
.actorMoviesImage img {
  /* margin-top: 1vh; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.hidden {
  display: none;
  /* padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  z-index: -1; */
  position: relative;
  left: 0;
  top: 0;
}
